// Add any custom Sass & CSS here

body{
	@include breakpoint(medium down){
		background: lightgray;
	}
}

.text-center {
  padding: 30px;

  img {
    border: 1px solid black;
    max-height: 200px;
  }
}